<%= form_with(model: team, local: true) do |form| %>
        <% if team.errors.any? %>
        <div id="error_explanation"">"
        <%= form_for(model: team) do |form| %>
        <div>
        <%= form.label :title "Komandas nosaukums" %>
        <%= form.text_field :title %>
        </div>
    
        <div>
        <%= form.label :"Komandas kods" %>
        <%= form.text_field :title %>
        </div>
    