<p id="notice"><%= notice %></p>

<h1>Komandas</h1>

<table>
  <thead>
    <tr>
      <th>Nosaukums</th>
      <th>Komandas apzīmējums</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.title %></td>
        <td><%= team.code %></td>
        <td><%= link_to "Labot", edit_team_path(team) %>
        <td><%= link_to "Dzēst", team_path(team), method: :delete, data: { confirm: "Vai esat drošs?" } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Jauns komanda', new_team_path %>
