<p id="notice"><%= notice %></p>

<h1>Spēlētāji</h1>

<table>
    <thead>
        <tr>
            <th>Vārds</th>
            <th>Numurs</th>
            <th>Pozīcija</th>
            <th>Klubs</th>
            <th>Komanda</th>
        </tr>
    </thead>
<tbody>
    <% @player.each do |player| %>
        <tr>
            <td><%= player.name %></td>
            <td><%= player.number %></td>
            <td><%= player.position %></td>
            <td><%= player.team %></td>
            <td><%= link_to "Labot", edit_player_path(player) %>
            <td><%= link_to "Dzēst", player_path(player), method: :delete, data: { confirm: "Vai esat drošs?"} %>
        </tr>
    <% end %>
</tbody>
</table>

<%= link_to 'Jauns spēlētājs', new_player_path %>
