<h1> Jauna komanda </h1>


<%= form_for(@team) do |form| %>
    <div>
    <%= form.label :title "Komandas nosaukums" %>
    <%= form.text_field :title %>
    </div>

    <div>
    <%= form.label :code %>
    <%= form.text_field :title %>
    </div>
