<p id="notice"><%= notice %></p>

<p>
    <strong>Spēlētājs</strong>
    <%= @player.name %>
</p>

<p>
<strong>Numurs:</strong>
<%= @player.number %>
</p>

<p>
<strong>Pozīcija:</strong>
<%= @player.position %>
</p>

<p>
<strong>Klubs:</strong>
<%= @player.club %>
</p>

<p>
<strong>Komanda:</strong>
<%= @player.team %>
</p>
<%= link_to 'Labot', edit_player_path(@player) %> |
<%= link_to 'Atpakaļ', player_path %>